.upperhalf body{
	background: #242423 !important;
}
.upperhalf p{
	color: #ffffff !important;
}
.bottomhalf body{
	background: #242423 !important;	
}
.bottomhalf p{
	color: #ffffff !important;	
}
